* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: none !important;
}
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

textarea:focus,
input:focus,
button:focus {
  outline: none !important;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
  margin-top: 1rem;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f0c040;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 1rem auto;
}
/* .rows.center {
  justify-content: center;
} */
.rows.top {
  align-items: flex-start;
}
.rows.start {
  justify-content: flex-start;
}

.details {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.details > h1 {
  text-align: center;
}

.product-col-1 > .card {
  margin: 0;
  height: 350px;
}
.product-col-1 {
  flex: 1 1 30rem;
  margin: 1rem;
}
.product-col-2 {
  flex: 2 1 50rem;
  margin: 1rem;
}

.col-1 {
  flex: 1 1 30rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 8rem;
  width: 100%;
  height: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  height: 100%;
}
img.large {
  width: 100%;
  height: 350px;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating i {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  margin-top: 2rem;
  /* border: 0.1rem solid transparent;
  border-radius: 0.5rem; */
}
.alert-info {
  color: #2020a0;
  /* background-color: #e0e0ff; */
}
.alert-danger {
  color: #a02020;
  /* background-color: #ffe0e0; */
}
.alert-success {
  color: #20a020;
  /* background-color: #eeffe0; */
}
/* Form */
.form {
  padding: 2rem;
  max-width: 40rem;
  margin: 2rem auto;
  border-radius: 5px;
  border: 0.1rem #ccc solid;
}

@media (max-width: 240px) {
  .form {
    max-width: 20rem;
  }
}
.form > div {
  display: flex;
  flex-direction: column;
}
.form label {
  margin: 0.5rem 0;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search {
  display: flex;
}

.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  margin-top: 0;
  padding: 0.1rem;
  border: 0.1rem #f0c040 solid;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
  max-width: 20rem;
  padding: 0.1rem;
  background: transparent;
  color: #fff;
  border: 0.1rem #f0c040 solid;
}

@media (max-width: 992px) {
  .search {
    margin: 1rem auto;
  }
  .search input,
  button {
    padding: 0.5rem;
  }
  #navbarScrollingDropdown {
    margin-left: 0;
    max-width: 8rem;
    background: none;
  }
}

.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 30rem;
  height: 5rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

/*Navbar bootstarp*/
#navbarScroll {
  justify-content: flex-end;
}

img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.products {
  margin: 0 auto 5rem auto;
}

@media (max-width: 992px) {
  .product {
    margin: 1rem auto;
  }
}

.product > a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

nav a {
  color: white;
}
a {
  text-decoration: none;
}

nav a:hover {
  color: white;
}
.dropdown-item > a {
  color: #000;
  font-size: 1rem;
}
.dropdown-item > a:hover {
  color: #000;
}

.dropdown-item > a:visited {
  background: #f0c040;
}

.container-fluid {
  max-width: 1300px;
}

/*Button navbar*/

.btn-outline {
  border: 0.1rem #f0c040 solid;
  color: #f0c040;
}

.btn-outline:hover {
  background-color: #f0c040;
  color: #fff;
}

.btn-contained {
  background-color: #f0c040;
  border: 0.1rem #f0c040 solid;
}

.link {
  padding: 1rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  width: 70px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.fa {
  padding: 1rem;
}

@media (max-width: 992px) {
  .link {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
  }
  .link-f {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0;
  }
  .navbar-nav .nav-link {
    padding: 0 2rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    align-items: center;
    justify-content: space-between;
  }
}

.carousel {
  height: 300px;
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
#navbarScrollingDropdown {
  color: #fff;
  background: #f0c040;
  border-radius: 100px;
  padding: 1rem;
}

.app-title {
  color: #f0c040;
  font-weight: bold;
  font-size: 2rem;
}

.app-title:hover {
  color: #f0c040;
}

.carousel .slide img {
  width: 100%;
}

.carousel .slide .logo {
  height: 300px;
}

.carousel .slide .legend {
  left: 0;
  margin-left: 0;
  width: 100%;
}

.carousel-caption {
  background: #404040;
}

.category {
  display: flex;
  flex-wrap: wrap;
}

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000 !important;
  color: #fff !important;
  display: grid;
  grid-template-columns: repeat(2, calc(85% / 2));
  column-gap: 5%;
  min-height: 60px;
}

footer span {
  align-self: center;
}

footer :first-child {
  text-align: right;
}

footer a {
  text-decoration: none;
  color: #f0c040;
}

#path-error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 30px;
  margin-top: 20%;
}

.filter {
  padding: 1rem;
  border-radius: 5px;
  border: 0.1rem solid #ccc;
}

.filter > .list {
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: 0.1rem solid #ccc;
}

/*Filter button*/
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  background-color: #f0c040;
}

.go-back {
  color: #f0c040;
  font-size: 2rem;
}

.go-back:hover {
  color: #f0c040;
  font-size: 2rem;
}
